/*
Theme Name: Ajude a Maju
Theme URI: http://www.ajudeamaju.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrição do tema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ajudeamaju
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Framework v1)
--------------------------------------------
**** IMPORTAÇÃO DE FONTES
**** DEFINIÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: GoodVibes;
    src: url('css/fonts/goodvibes.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: ONRAMP;
    src: url('css/fonts/onramp.otf');
    font-style: normal;
    font-weight: normal;
  }

/* DEFINIÇÃO DE VARIÁVEIS */ 
:root {
  --montserrat: 'Montserrat', sans-serif;
  --nunitosans: 'Nunito Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;

  /* COMO USAR AS VARIÁVEIS
    color: var(--raleway);
  */
}

/* BODY */
  body.travarScroll{
    overflow: hidden;

  }
  body{
    transition: ease-in-out .3s;
  }

/* TOPO */
  header.topo{
    background-color: #fee8f1;
    padding-top: 20px;
    padding-bottom: 50px;
  }
    header.topo a.logo{
      width: 100%;
      display: block;
      max-width: 115px;
      margin: 0 auto;
    }
      header.topo a.logo img{
        width: 100%;
        height: auto;
        outline: none;
      }
    header.topo .navbar{
      margin: 0;
      border-radius: 0;
      min-height: 0;
    }
      header.topo .navbar button{
        display: none;
      }
        header.topo .navbar button span{

        }
        header.topo .navbar button span.sr-only{

        }
        header.topo .navbar button span.icon-bar{
          background: #f7a1bf;
          transition: .2s all ease-out;
          -webkit-transition: .2s all ease-out;
          -moz-transition: .2s all ease-out;
          -o-transition: .2s all ease-out;
        }
        header.topo .navbar button.exchangeButton span:nth-child(2){
          transform: translateY(8px) rotate(-45deg);
          -webkit-transform: translateY(8px) rotate(-45deg);
          -moz-transform: translateY(8px) rotate(-45deg);
          -o-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
          margin-top: 0px;
        }
        header.topo .navbar button.exchangeButton span:nth-child(3){
          display: none;
        }
        header.topo .navbar button.exchangeButton span:nth-child(4){
          transform: translateY(-8px) rotate(45deg);
          -webkit-transform: translateY(-8px) rotate(45deg);
          -moz-transform: translateY(-8px) rotate(45deg);
          -o-transform: translateY(-8px) rotate(45deg);
          margin-top: 14px!important;
        }
      header.topo .navbar .navbar-header{
        width: 100%;
      }
        header.topo .navbar .navbar-header .navbar-collapse{

        }
          header.topo .navbar .navbar-header .navbar-collapse .navbar-nav{
            width: 100%;
            text-align: right;
          }
            header.topo .navbar .navbar-header .navbar-collapse .navbar-nav li{
              float: initial;
              display: inline-block;
              text-transform: uppercase;
              font-family: var(--montserrat);
              color: #f7a1bf;
              min-width: 100px;
              text-align: center;
              padding:0 5px;
            }
              header.topo .navbar .navbar-header .navbar-collapse .navbar-nav li a{
                text-decoration: none;
                color: inherit;
                background: transparent;
                padding: 10px 1px;
                width: 100%;
                display: block;
                text-align: center;
                font-size: 19px;
              }
              header.topo .navbar .navbar-header .navbar-collapse .navbar-nav li a:hover{
                background: transparent;
              }
              header.topo .navbar .navbar-header .navbar-collapse .navbar-nav li a:focus{
                outline: none;
              }
    header.topo .iconShop{
      width: 100%;
      text-align: center;
    }
      header.topo .iconShop a{
        display: inline-block;
        width: 100%;
        max-width: 30px;
        color: #fe73ae;
        font-size: 25px;
        text-decoration: none;
        outline: none;
        transition: ease-in-out .3s;
        -webkit-transition: ease-in-out .3s;
        -moz-transition: ease-in-out .3s;
        -o-transition: ease-in-out .3s;
      }
      header.topo .iconShop a:hover{
        color: #c5427a;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);

      }
        header.topo .iconShop a i{

        }
    header.topo .mobile{
      display: none;
    }

/* RODAPÉ*/
  footer{
    background: #f2c4d4;
    margin-top: 60px;
    padding-top: 50px;
  }
    footer .socialNetworks{
      width: 100%;
    }
      footer .socialNetworks ul{
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: center;
        padding-bottom: 30px;
      }
        footer .socialNetworks ul li{
          display: inline-block;
          text-transform: uppercase;
          font-family: var(--raleway);
          width: 100%;
          max-width: 150px;
          margin-top: 10px;
        }
        footer .socialNetworks ul li:hover i{
          background: #fff;
          color: #f2c4d4;
        }
          footer .socialNetworks ul li a{
            text-decoration: none;
            color: #fff;
          }
            footer .socialNetworks ul li a i{
              font-size: 12px;
              display: inline-block;
              width: 100%;
              max-width: 30px;
              height: 30px;
              border: 1px solid #fff;
              border-radius: 100%;
              text-align: center;
              line-height: 29px;
              transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
            }
            footer .socialNetworks ul li a span{
              font-size: 11px;
              font-weight: bold;
              display: inline-block;
              margin-left: 10px;
            }
    footer .copyright{
      text-align: center;
      width: 90%;
      margin: 0 auto;
      color: #fff;
      font-family: var(--raleway);
      font-weight: 600;
      padding: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.53);
    }
      footer .copyright p{
        margin: 0;
      } 

/* PG*/
  .pg{

  }

/* PÁGINA INICIAL */
  .pg-inicial{
    z-index: 2;
  }
    .pg-inicial .apresentacaoInicial{
      background-color: #fee8f1;
      min-height: 1000px;
      position: relative;
    }
    .pg-inicial .apresentacaoInicial:before{
      /*content: '';*/
      width: 100%;
      max-width: 175px;
      height: 28%;
      display: block;
      background: url(img/butterfliesUp.png);
      background-size: cover!important;
      background-position: center!important;
      position: absolute;
      top: 455px;
      right: 78px;
    }
      .pg-inicial .apresentacaoInicial .imagemMaju    {
        width: 100%;
        text-align: center;
        position: relative;
      }
        .pg-inicial .apresentacaoInicial .imagemMaju figure{

        }
        .pg-inicial .apresentacaoInicial .imagemMaju figure:before{
          content: "";
          background: url(img/butterflies.png);
          width: 100%;
          max-width: 234px;
          display: block;
          min-height: 130px;
          background-size: cover!important;
          background-position: center!important;
          position: absolute;
          right: -57px;
          top: 52%;
          transform: translateY(-50%) rotate(2deg);
          -webkit-transform: translateY(-50%) rotate(2deg);
          -moz-transform: translateY(-50%) rotate(2deg);
          -o-transform: translateY(-50%) rotate(2deg);
        }
          .pg-inicial .apresentacaoInicial .imagemMaju figure img{
            width: 100%;
            height: auto;
            max-width: 730px;
            z-index: 2;
            position: relative;
          }
      .pg-inicial .apresentacaoInicial .textoInicialDireita{
        margin-top: 145px;
      }
        .pg-inicial .apresentacaoInicial .textoInicialDireita h3{
          font-family: ONRAMP;
          margin: 0;
          color: #fcabcd;
          font-size: 83px;
          padding-left: 50px;
        }
        .pg-inicial .apresentacaoInicial .textoInicialDireita h4{
          margin: 0;
          font-family: var(--montserrat);
          font-size: 122px;
          text-transform: uppercase;
          font-weight: 700;
          line-height: .5;
          color: #f5a0bd;
          text-align: left;
        }
        .pg-inicial .apresentacaoInicial .textoInicialDireita h2{
          margin: 0;
          font-family: GoodVibes;
          color: #fe73ae;
          font-size: 120px;
          margin-top: 40px;
          padding-left: 74px;
        }
        .pg-inicial .apresentacaoInicial .textoInicialDireita h1{
          margin: 0;
          font-family: ONRAMP;
          font-size: 131px;
          color: #fe73ae;
          padding-left: 50px;
          line-height: 101px;
        }
    .pg-inicial .descriptionArea{

    }
      .pg-inicial .descriptionArea .descriptionSkew{
        transform: skewY(14deg);
        -webkit-transform: skewY(14deg);
        -moz-transform: skewY(14deg);
        -o-transform: skewY(14deg);
        background: #fff;
        margin-top: -310px;
        position: absolute;
      }
      .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew:before{
       /*content: "";*/
       width: 100%;
       max-width: 1151px;
       height: 545px;
       display: block;
       background: url(img/butterfliesMiddle.png);
       background-size: cover!important;
       background-position: center!important;
       position: absolute;
       z-index: 1;
       bottom: -78px;
       right: 105px;
      }
        .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew{
         background: url(img/butterfliesMiddle.png);
         -webkit-transform: skewY(-14deg);
         -moz-transform: skewY(-14deg);
         -o-transform: skewY(-14deg);
         margin-top: 220px;
         position: relative;
         z-index: 1;
         min-height: 489px;
         background-size: cover;
         background-position: bottom;
        }
          .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText{

          }
            .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p{
              font-family: var(--montserrat);
              font-size: 27px;
              padding: 0 148px;
              color: #7c7c7c;
              font-weight: normal;
            }
          .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpImage{
            width: 100%;
            height: auto;
          }
            .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpImage figure{
              text-align: center;
            }
              .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpImage figure img{
                width: 100%;
                max-width: 437px;
                height: auto;
              }
        .pg-inicial .descriptionArea .descriptionSkew .beaGodfather{

        }
          .pg-inicial .descriptionArea .descriptionSkew .beaGodfather a{
            display: block;
            width: 100%;
            background: #fcabcd;
            max-width: 350px;
            margin: 20px auto;
            padding: 10px 10px;
            text-align: center;
            color: #fff;
            font-family: var(--montserrat);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 19px;
            border-radius: 5px;
            text-decoration: none;
            transition: ease-in-out .2s;
            -webkit-transition: ease-in-out .2s;
            -moz-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            border: 1px solid transparent;
          }
          .pg-inicial .descriptionArea .descriptionSkew .beaGodfather a:hover{
            color: #fcabcd;
            background: #fff;
            border: 1px solid #fcabcd;
          }
    .pg-inicial .photoArea{
     min-height: 450px;
     margin-bottom: -60px;
     padding: 50px 0;
     position: relative;
     background: url(img/butterfliesDown.png);
     background-size: cover;
     background-position: bottom;
    }
    .pg-inicial .photoArea:before{
     content: "";
     background: url(img/butterfliesDown.png);
     background-size: cover!important;
     background-position: 1280px 357px !important;
     width: 100%;
     height: 100%;
     position: absolute;
     display: block;
     top: 0;
     display: none;
    }
      .pg-inicial .photoArea .carouselPhotosMaju{
        padding-top: 50px;
      }
        .pg-inicial .photoArea .carouselPhotosMaju .item.photo{
          background: #e2e6e5;
          min-height: 220px;
          margin: 0 10px;
          text-align: center;
          cursor: zoom-in;
        } 
          .pg-inicial .photoArea .carouselPhotosMaju .item.photo a{
            cursor: inherit;
          }
          .pg-inicial .photoArea .carouselPhotosMaju .item.photo figure{

          }
            .pg-inicial .photoArea .carouselPhotosMaju .item.photo figure img{
              padding-top: 25px;
              width: 100%;
              max-width: 290px;
              padding: 25px 13px 45px 13px;
              margin: 0 auto;
              transition: transform .2s;
              -webkit-transition: transform .2s;
              -moz-transition: transform .2s;
              -o-transition: transform .2s;
            }
            .pg-inicial .photoArea .carouselPhotosMaju .item.photo figure img:hover{
              -ms-transform: scale(1.1); /* IE 9 */
              -webkit-transform: scale(1.1); /* Safari 3-8 */
              transform: scale(1.1); 
            }
    .pg-inicial .howToHelp{
     margin-top: 400px;
     text-align: center;
     position: relative;
     background: url(img/background-products.png);
     background-size: cover;
     background-position: center;
     min-height: 900px;
     background-attachment: fixed;
    }
    .pg-inicial .howToHelp:after{
      content: "";
      display: block;
      width: 100%;
      min-height: 55px;
      background: url(img/after-products.png);
      background-size: cover;
      background-position: center;
      position: absolute;
      bottom: 0px;
    }
      .pg-inicial .howToHelp .thankYou {

      }
        .pg-inicial .howToHelp .thankYou h2{
          font-family: var(--montserrat);
          font-weight: 500;
          font-style: italic;
          padding-top: 40px;
          color: #fff;
          font-size: 37px;
          position: relative;
        }
        .pg-inicial .howToHelp .thankYou h2:before{
          content: "";
          display: block;
          height: 1px;
          background: #fff;
          position: absolute;
          bottom: -10px;
          width: 100%;
          max-width: 185px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
        }
        .pg-inicial .howToHelp .thankYou p.thanks{
          color: #fff;
          margin-top: 30px;
          font-family: var(--montserrat);
          font-size: 17px;
          font-weight: 200;
        }
      .pg-inicial .howToHelp .descricaoApadrinhamento{
        width: 74%;
        padding: 0 10px;
        margin: 0 auto;
        margin-top: 50px;
      }
        .pg-inicial .howToHelp .descricaoApadrinhamento p{
          text-align: center;
          font-family: var(--raleway);
          font-size: 19px;
          margin: 0;
          color: #ffffff;
          font-weight: 700;
        }
      .pg-inicial .howToHelp .productsSection{
        width: 100%;
        margin-top: 19px;
        padding: 0 50px;
      }
        .pg-inicial .howToHelp .productsSection .productList{
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 0;
          text-align: center;
        }
        .pg-inicial .howToHelp .productsSection .productList:after{
          content: '';
          display: block;
          width: 100%;
          max-width: 310px;
          height: 2px;
          background: #fff;
          margin: 5px auto;
        }
        .pg-inicial .howToHelp .productsSection .productList .item{
          padding: 0 26px;
          width: 100%;
          max-width: 450px;
          margin: 0 auto;
        }

          .pg-inicial .howToHelp .productsSection .productList .product{
            display: inline-block;
            width: 100%;
            background: #fff;
            border-radius: 35px;
            margin: 79px 13px;
            padding: 0 10px;
            box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.47843137254901963);
            position: relative;
            transition: all ease-in-out .2s;
            -webkit-transition: all ease-in-out .2s;
            -moz-transition: all ease-in-out .2s;
            -o-transition: all ease-in-out .2s;
            min-height: 400px;
          }
          .pg-inicial .howToHelp .productsSection .productList .product button.button{
            font-size: 16px;
            font-family: var(--montserrat);
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: #7c7c7c!important;
            display: block;
            text-align: center;
            width: 100%;
            max-width: 200px;
            margin: 18px auto;
            border: 2px solid #e2e6e7;
            padding: 12px 10px;
            border-radius: 26px;
            transition: ease-in-out .2s;
            -webkit-transition: ease-in-out .2s;
            -moz-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            background-color: transparent!important;
            outline: none;
            float: initial;
          }
          .pg-inicial .howToHelp .productsSection .productList .product:hover{
            background: #f8a2bf;
            box-shadow: 1px 2px 18px 1px #000;
          }
          .pg-inicial .howToHelp .productsSection .productList .product:hover > span.price{
            background: #fff;
            color: #f8a2bf;
          }
          .pg-inicial .howToHelp .productsSection .productList .product:hover > h3.productTitle{
            color: #fff;
          } 
          .pg-inicial .howToHelp .productsSection .productList .product:hover > h3.productTitle:before{
            background: #fff;
          }
          .pg-inicial .howToHelp .productsSection .productList .product:hover > p.productDescription{
            color: #fff;
          } 
          .pg-inicial .howToHelp .productsSection .productList .product:hover button.button{
            color: #fff!important;
            border: 2px solid #fff!important;
          }
          .pg-inicial .howToHelp .productsSection .productList .center .item .product{
            background: #f8a2bf;
            box-shadow: 1px 2px 18px 1px #000;
          }
          .pg-inicial .howToHelp .productsSection .productList .center .item .product span.price{
            background: #fff;
            color: #f8a2bf;
          }
          .pg-inicial .howToHelp .productsSection .productList .center .item .product h3.productTitle{
            color: #fff;
          } 
          .pg-inicial .howToHelp .productsSection .productList .center .item .product h3.productTitle:before{
            background: #fff;
          }
          .pg-inicial .howToHelp .productsSection .productList .center .item .product p.productDescription{
            color: #fff;
          } 
          .pg-inicial .howToHelp .productsSection .productList .center .item .product button.button{
            color: #fff!important;
            border: 2px solid #fff!important;
          }
          .pg-inicial .howToHelp .productsSection .productList .center .item .product button.button:hover{
            color: #f8a2bf!important;
          }

            .pg-inicial .howToHelp .productsSection .productList .product span.price{
              display: block;
              width: 100%;
              background: #e2e6e7;
              max-width: 130px;
              height: 130px;
              margin: 0 auto;
              font-family: var(--montserrat);
              text-transform: uppercase;
              font-weight: bolder;
              color: #fff;
              font-size: 40px;
              padding: 10px 10px;
              border-radius: 100%;
              line-height: 100px;
              position: absolute;
              top: -64px;
              left: 50%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
            }
            .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle{
             margin-top: 100px;
             font-family: var(--nunitosans);
             text-transform: uppercase;
             font-size: 26px;
             color: #7c7c7c;
             position: relative;
             transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
            }
            .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle:before{
              content: "";
              display: block;
              width: 100%;
              max-width: 154px;
              height: 2px;
              background: #7c7c7c;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              bottom: -9px;
            }
            .pg-inicial .howToHelp .productsSection .productList .product p.productDescription{
              font-size: 18px;
              padding: 0 20px;
              margin-top: 35px;
              font-family: var(--nunitosans);
              color: #7c7c7c;
              font-weight: 200;
              margin-bottom: 22px;
              transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
              min-height: 66px;
            }
            .pg-inicial .howToHelp .productsSection .productList .product button.button:hover{
              color: #f8a2bf!important;
              border: 2px solid #fff!important;
              background: #fff!important;
            }
            .pg-inicial .howToHelp .productsSection .productList .product .quantity{
              display: none!important;
            }
            .pg-inicial .howToHelp .productsSection .productList .product .product_type_simple.add_to_cart_button{
              display: none!important;
            }
            .pg-inicial .howToHelp .productsSection .productList .product input{
              border-radius: 5px;
              border: 1px solid #f8a7c4;
              height: 40px;
              outline: none;
              padding: 10px;
              color: #ec9fbb;
              font-size: 16px;
              width: 100%!important;
              max-width: 150px;
            }
    .pg-inicial .galeryMaju{
      width: 80%;
      background-color: #fff;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      height: 80vh;
      z-index: 9;
      border-radius: 8px;
      box-shadow: 1px 1px 10px 1px #000;
      overflow-x: hidden;
    }
    .pg-inicial .galeryMaju img{
      width: 100%;
      height: auto;
    }
    .pg-inicial .galeryMaju span.fecharModal{
      width: 40px;
      height: 40px;
      position: fixed;
      top: 0;
      right: 0;
      font-size: 40px;
      color: #b33d3d;
      text-align: center;
      cursor: pointer;
    }
      .pg-inicial .galeryMaju span.fecharModal i{

      }

/* PÁGINA DE CARRINHO */
  .pg-carrinho{
    background-color: #fff;
    padding: 0;
  }
    .pg-carrinho .page-title{
      color: #f7a1bf;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
    }
      .pg-carrinho .page-title h1{
        font-size: inherit;
      }
    .pg-carrinho .coupon input[type="text"] {
      outline: none!important;
      background: transparent;
      border: 1px solid #f8a1bf!important;
      float: initial!important;
      display: inline-block;
      width: 100%!important;
      max-width: 131px;
      font-family: var(--nunitosans);
      color: #f8a1bf;
      padding: 10px 6px 7px!important;
      text-align: center;
      border-radius: 4px;
    }
    .pg-carrinho .coupon input[type="text"]::-webkit-input-placeholder  { color:#f8a1bf; }
    .pg-carrinho .coupon input[type="text"]::-moz-placeholder { color:#f8a1bf; }
    .pg-carrinho .coupon button{
      border: 1px solid #f7a1bf;
      padding: 12px 12px 12px;
      float: initial;
      outline: none;
      background: #fee8f1;
      font-family: var(--nunitosans);
      color: #f7a1bf;
      text-transform: uppercase;
      transition: ease-in-out .3s;
      -webkit-transition: ease-in-out .3s;
      -moz-transition: ease-in-out .3s;
      -o-transition: ease-in-out .3s;
    }
    .pg-carrinho .coupon button:hover{
      color: #fff;
      background: #f7a1bf;
    }
    .pg-carrinho a.checkout-button{
      background-color: #f7a7c7!important;
    }
    .pg-carrinho a.checkout-button:hover{
      background-color: #f78db8!important;
    }

/* PÁGINA DE CHECKOUT */
  .pg-checkout{
    padding: 0 10px;
  }
    .pg-checkout form{

    }
      .pg-checkout form .woocommerce-billing-fields{

      }
        .pg-checkout form .woocommerce-billing-fields h3{
          text-transform: uppercase;
          font-weight: 600;
          color: #da799d;
        }
        .pg-checkout form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper{

        }
          .pg-checkout form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p{
            
          }
          .pg-checkout form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p#billing_neighborhood_field{
           float: left;
          }
          .pg-checkout form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p#billing_city_field{
                float: right;
          }
          .pg-checkout form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p#billing_address_2_field{
            float: right;
            margin-top: 34px;
          }
            .pg-checkout form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p label{

            }
              .pg-checkout form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p input{
                border-radius: 5px;
                border: 1px solid #f8a7c4;
                height: 40px;
                outline: none;
                padding: 10px;
                color: #ec9fbb;
              }
          .pg-checkout .select2-container--default .select2-selection--single{
            border: 1px solid #f8a7c4;
          }
    .pg-checkout .woocommerce-additional-fields{
      
    }
    .pg-checkout .woocommerce-additional-fields h3{
      text-transform: uppercase;
      font-weight: 600;
      color: #da799d;
    }
    .pg-checkout .woocommerce-additional-fields textarea{
      width: 100%;
      border-radius: 5px;
      border: 1px solid #f8a7c4;
      padding: 10px;
      color: #ec9fbb;
      max-width: 500px;
      min-width: 300px;
      min-height: 100px;
      max-height: 150px;
    }
    .pg-checkout .woocommerce form .form-row span.select2 {
      width: 100%!important;
    }
    .pg-checkout .button.alt{
      background-color: #f7a5c7!important;
      text-transform: uppercase;
      border:1px solid transparent;
      transition: ease-in-out .3s;
      -webkit-transition: ease-in-out .3s;
      -moz-transition: ease-in-out .3s;
      -o-transition: ease-in-out .3s;
      float: initial!important;
      padding: 15px 20px;
    }
    .pg-checkout .button.alt:hover{
      background-color: #fff!important;
      border:1px solid #f7a5c7;
      color: #f7a5c7!important;
    }

/* PÁGINA DE LOGIN*/
  .pg-login{
  }
    .pg-login .woocommerce-info {
      border-top-color: #da799d;
      background-color: #fee8f1;
      color: #da799d;
      border-top: 3px solid #a46497;
      font-weight: bold;
    } 
 .pg-login input[type="text"],.pg-login input[type="password"]{
    border-radius: 5px;
    border: 1px solid #f8a7c4;
    height: 40px;
    outline: none;
    padding: 10px;
    color: #ec9fbb;
  }
  .pg-login button{
    color: #fff!important;
    background: #da799d!important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--raleway);
    outline: none;
    border: 1px solid transparent!important;
    transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
  }
  .pg-login button:hover{
    color: #da799d!important;
    border: 1px solid #da799d!important;
    background: transparent!important;
  }

/* PÁGINA DE CUPOM*/
  .pg-cupom {
    display: none;
  }
    .pg-cupom .woocommerce-info {
      border-top-color: #da799d;
      background-color: #fee8f1;
      color: #da799d;
      border-top: 3px solid #a46497;
      font-weight: bold;
    } 
    .pg-cupom input[type="text"]{
      border-radius: 5px;
      border: 1px solid #f8a7c4;
      height: 40px;
      outline: none;
      padding: 10px;
      color: #ec9fbb;
    }
    .pg-cupom button{
      color: #fff!important;
      background: #da799d!important;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: var(--raleway);
      outline: none;
      border: 1px solid transparent!important;
      transition: ease-in-out .2s;
      -webkit-transition: ease-in-out .2s;
      -moz-transition: ease-in-out .2s;
      -o-transition: ease-in-out .2s;
    }
    .pg-cupom button:hover{
      color: #da799d!important;
      border: 1px solid #da799d!important;
      background: transparent!important;
    }

/* PÁGINA MINHA CONTA*/
  .pg-my-account{
    padding:0 10px;
  }
    .pg-my-account h2{
      color: #f7a1bf;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 25px;
    }
    .pg-my-account form input[type="text"],.pg-my-account form input[type="email"],.pg-my-account form input[type="password"]{
      border-radius: 5px;
      border: 1px solid #f8a7c4;
      height: 40px;
      outline: none!important;
      padding: 10px;
      color: #ec9fbb!important;
    }
    .pg-my-account form button[type="submit"]{
      border: 1px solid #f7a1bf;
      padding: 12px 12px 12px;
      float: initial;
      outline: none;
      background: #fee8f1;
      font-family: var(--nunitosans);
      color: #f7a1bf!important;
      text-transform: uppercase;
      transition: ease-in-out .3s;
      -webkit-transition: ease-in-out .3s;
      -moz-transition: ease-in-out .3s;
      -o-transition: ease-in-out .3s;
    }
    .pg-my-account form button[type="submit"]:hover{
      color: #fff!important;
      background: #f7a1bf!important;
    }

/* PÁGINA LOST PASSWORD */
  .pg-lost-password{
    width: 100%;
    padding: 0 10px;
    min-height: 60vh;
    position: relative;
  }
    .pg-lost-password form{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
    }
    .pg-lost-password form p {
      width: 100%!important;
      color: #f8acc7;
      margin-top: 30px;
      font-family: var(--montserrat);
    }
    .pg-lost-password form input{
      width: 100%;
      border-radius: 5px;
      border: 1px solid #f8a7c4;
      height: 40px;
      outline: none!important;
      padding: 10px;
      color: #ec9fbb!important;
    }
    .pg-lost-password form button{
      border: 1px solid #f7a1bf;
      padding: 12px 12px 12px;
      float: initial;
      outline: none;
      background: #fee8f1!important;
      font-family: var(--nunitosans);
      color: #f7a1bf!important;
      text-transform: uppercase;
      transition: ease-in-out .3s;
      -webkit-transition: ease-in-out .3s;
      -moz-transition: ease-in-out .3s;
      -o-transition: ease-in-out .3s;
    }
    .pg-lost-password form button:hover{
      color: #fff!important;
      background: #f7a1bf!important;
    }

/* PÁGINA LOST PASSWORD CONFIRM*/
  .pg-lost-password-confirm{
    width: 100%;
    min-height: 60vh;
    padding:0 10px;
    position: relative;
  }
  .pg-lost-password-confirm p{
    color: #f8acc7;
    margin-top: 30px;
    font-weight: 500;
    font-family: var(--montserrat);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
  }

/* PÁGINA MINHA CONTA (LOGADO)*/
  .navigation-logged{
    display: inline-block;
    width: 30%;
    text-align: left;
  }
    .navigation-logged nav{
      width: 100%!important;
      display: block!important;
      float: initial!important;
    }
      .navigation-logged nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
        border: 1px solid #f8a9c4;
      }
        .navigation-logged nav ul li{
          font-family: var(--raleway);
          color: #f8a8c4;
          text-align: left;
          background: #fee8f1;
          border-bottom: 1px solid #f8a8c4;
          cursor: pointer;
          text-transform: uppercase;
          font-weight: 600;
        }
        .navigation-logged nav ul li.is-active{
          color: #fff;
          background: #f8a8c4;
        }
        .navigation-logged nav ul li.woocommerce-MyAccount-navigation-link--downloads{
          display: none;
        }
          .navigation-logged nav ul li a{
           color: inherit;
           text-decoration: none;
           width: 100%;
           display: block;
           padding: 10px 30px;
         }
         .woocommerce-account .woocommerce-MyAccount-content {
          float: initial;
          width: 69%;
          display: inline-block;
          vertical-align: top;
          padding: 30px 20px 0;
        }
        .woocommerce-account .woocommerce-MyAccount-content p{
          color: #f8a8c4;
        }
        .woocommerce-account .woocommerce-MyAccount-content p a{
         font-weight: bold;
         color: #ad5f8a;
        }
        .woocommerce-account label{
          color: #000000;
        }
        .woocommerce-account p.form-row {
          width: 100%;
        }
        .woocommerce-account p.form-row input{
          border-radius: 5px;
          border: 1px solid #f8a7c4;
          height: 40px;
          outline: none!important;
          padding: 10px;
          color: #ec9fbb!important;
        }
        .woocommerce-account p.form-row .select2-selection{
          border-radius: 5px;
          border: 1px solid #f8a7c4;
          height: 40px;
          outline: none!important;
          padding: 10px;
          color: #ec9fbb!important;
        }
        .woocommerce-account p.form-row .select2-selection .select2-selection__rendered{
          line-height: 18px;
          color: inherit;
        }
        .woocommerce-account p button{
          border: 1px solid #f7a1bf!important;
          padding: 12px 12px 12px!important;
          outline: none;
          background: #fee8f1!important;
          font-family: var(--nunitosans);
          color: #f7a1bf!important;
          text-transform: uppercase;
          transition: ease-in-out .3s;
          -webkit-transition: ease-in-out .3s;
          -moz-transition: ease-in-out .3s;
          -o-transition: ease-in-out .3s;
        }
        .woocommerce-account p button:hover{
          color: #fff!important;
          background: #f7a1bf!important;
        }
        .woocommerce-account .woocommerce-Address-title h3{
          color: #f8a8c4;
          font-weight: 600;
          font-family: var(--raleway);
        }
        .woocommerce-account address{
         margin-bottom: 20px;
         font-style: normal;
         line-height: 1.42857143;
         color: #f8a8c4;
        }
        .woocommerce form .form-row .input-checkbox{
          margin: 8px 8px 0 0;
        }
        span.woocommerce-terms-and-conditions-checkbox-text{
          margin-left: 20px;
        }
 
/* PÁGINA DE PRODUTO - VOLTAR PARA A HOME*/
  .pg-produto{
    width: 100%;
    height: 61vh;
    padding: 0 20px;
  }
    .pg-produto a{
      display: block;
      width: 100%;
      max-width: 420px;
      margin: 0 auto;
      border-radius: 3px;
      border: 1px solid transparent;
      text-decoration: none;
      color: #fff;
      background-color: #f7a1bf;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      outline: none;
      padding: 20px 20px;
      font-family: var(--raleway);
      text-transform: uppercase;
      transition: ease-in-out .3s;
      -webkit-transition: ease-in-out .3s;
      -moz-transition: ease-in-out .3s;
      -o-transition: ease-in-out .3s;
      font-size: 20px;
      font-weight: 500;
    }
    .pg-produto a:hover{
      background-color: #fff;
      border:1px solid #f7a1bf;
      color: #f7a1bf;

    }

/* PÁGINA POLITICA DE PRIVACIDADE*/
  .pg-privacidade{
    padding: 0 20px;
    font-family: var(--raleway);
    color: #5f2c3e;
    font-weight: bold;
  }
    .pg-privacidade h1{

    }
    .pg-privacidade h2{

    }
    .pg-privacidade h3{

    }

/*EXTRAS*/
 ::-webkit-scrollbar{ 
    background: #fff;
    width: 5px;

  }
  ::-webkit-scrollbar-button{ 
   background: #f8a2bf;
  }
  ::-webkit-scrollbar-track{ 
    

  }
  ::-webkit-scrollbar-track-piece {
   }
  ::-webkit-scrollbar-thumb{ 
    background: #f8a2bf;
  }
  ::-webkit-scrollbar-corner {  }
  ::-webkit-resizer{

  }
  .post-navigation{
    display: none;
  }
  .comments-area{
    display: none;
  }

/*@MEDIA QUERY*/
  @media(max-width: 1367px){
    .pg-inicial .apresentacaoInicial .imagemMaju{
      margin-top: 40px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure img{
      max-width: 520px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
     font-size: 84px;
     padding-left: 79px;
     line-height: 72px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure:before{
      max-width: 152px;
      min-height: 76px;
      right: -64px;
      top: 52%;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p{
      padding: 0 50px;
    }
    .pg-inicial .howToHelp{
      min-height: 814px;
    }
    .pg-inicial .howToHelp:after {
      min-height: 38px;
    }
    .pg-inicial .apresentacaoInicial{
      min-height: 889px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew{
      margin-top: 175px;
    }
    .pg-inicial .howToHelp{
      margin-top: 280px;
    }
  }
  @media(max-width: 1200px){
    .pg-inicial .apresentacaoInicial .imagemMaju {
      margin-top: 20px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure:before {
      max-width: 125px;
      min-height: 61px;
      right: -54px;
      top: 52%;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure img {
      max-width: 460px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita {
      margin-top: 105px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product p.productDescription{
      padding: 0;
    }
    .pg-inicial .howToHelp .productsSection{
      padding: 0 10px;
    }
    .pg-inicial .howToHelp:after {
      min-height: 30px;
    }
    .pg-inicial .apresentacaoInicial {
      min-height: 795px;
    }
  }
  @media(max-width: 991px){
    .pg-inicial .apresentacaoInicial {
      min-height: 870px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju {
      margin-top: 100px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure:before {
      max-width: 119px;
      min-height: 55px;
      right: -71px;
      top: 52%;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita {
      margin-top: 192px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 67px;
      text-align: center;
      padding-left: 16px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p {
      padding: 0 20px;
      font-size: 20px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .beaGodfather a {
      max-width: 300px;
      margin: 35px auto;
      padding: 8px 10px;
      font-size: 13px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product p.productDescription{
      font-size: 15px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle {
      font-size: 23px;
    }
    .pg-inicial .howToHelp .productsSection{
      margin-top: 0;
    }
    .pg-inicial .howToHelp .productsSection .productList .product {
      margin-top: 100px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product:last-child{
      margin-bottom: 50px;
    }
    .pg-inicial .howToHelp .productsSection .productList:after{
      display: none;
    }
    .pg-inicial .howToHelp:after{
      position: relative;
      margin-top: 50px;
      min-height: 27px;
    }
    .pg-inicial .howToHelp {
      min-height: 792px;
    }
  }
  @media(max-width: 767px){
    .pg-inicial .apresentacaoInicial .imagemMaju figure:before{
      display: none;
    }
    .pg-inicial .apresentacaoInicial {
      min-height: 1082px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      padding-left: 0;
      padding: 0 20px;
      line-height: 53px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure img{
      padding: 10px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew {
      margin-top: 110px;
    }
    .pg-inicial .howToHelp:after{
      min-height: 20px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product{
      margin-left: 0;
      margin-right: 0;
    }
    .pg-inicial .howToHelp .thankYou h2 {
      font-size: 30px;
    }
    .pg-inicial .howToHelp .thankYou p.thanks {
      font-size: 15px;
    }
    footer .socialNetworks ul{
      text-align: center;
      padding: 0 63px 30px;
    }
    header.topo .navbar button{
      display: block;
      position: absolute;
      right: 0;
      top: -48px;
    }
    header.topo .navbar .navbar-header .navbar-collapse .navbar-nav li {
      display: block;
      text-align: left;
    }
    .pg-inicial .photoArea:before{
      display: none;
    }
    .navigation-logged{
      width: 100%;
    }
    .woocommerce-account .woocommerce-MyAccount-content{
      width: 100%;
    }
    header.topo .navbar .navbar-header .navbar-collapse .navbar-nav li a{
      min-width: 100%;
    }
    header.topo{
      padding-bottom: 0;
    }
    .pg-inicial .howToHelp {
      min-height: 779px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju {
      margin-top: 64px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita {
      margin-top: 72px;
    }
    .pg-produto a {
      max-width: 270px;
      padding: 14px 20px;
      font-size: 16px;
    }
    .pg-privacidade h2 {
      font-size: 25px;
    }
    .pg-inicial .howToHelp {
      margin-top: 380px;
      background-attachment: initial;
    }
    header.topo .iconShop{
      padding: 0 10px;
      max-width: 110px;
      position: absolute;
      top: -73px;
      z-index: 2;
      right: 30px;
    }
    header.topo .desktop{
      display: none;
    }
    header.topo .mobile{
      display: block;
    }
    header.topo .iconShop {
      max-width: 95px;
      top: -36px;
    }
    header.topo .iconShop a {
      font-size: 20px;
    }
    .woocommerce-account .woocommerce-MyAccount-content {
      padding: 30px 0 0;
    }
    .pg-inicial .howToHelp .descricaoApadrinhamento{
      width: 100%;
    }
    .pg-inicial .howToHelp .descricaoApadrinhamento p{
      font-size: 18px;
    }
  }
  @media(max-width: 610px){
    .pg-inicial .apresentacaoInicial {
      min-height: 1180px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p {
      font-size: 18px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle {
      font-size: 21px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product p.productDescription {
      font-size: 14px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product a.purchaseProduct {
      font-size: 14px;
      max-width: 180px;
    }
    .pg-inicial .howToHelp .thankYou h2 {
      font-size: 26px;
    }
    .pg-inicial .howToHelp .thankYou h2:before {
      max-width: 141px;
    }
    .pg-inicial .howToHelp .thankYou p.thanks {
      font-size: 12px;
      margin-top: 20px;
    }
    footer .socialNetworks ul {
      padding-bottom: 30px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 0 12px 30px;
    }
    footer .socialNetworks ul li {
      max-width: 125px;
    }
    .pg-inicial .howToHelp {
      min-height: 775px;
    }
  }
  @media(max-width: 520px){
    .pg-inicial .howToHelp {
      margin-top: 381px;
    }
  }
  @media(max-width: 445px){
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p {
      font-size: 15px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpImage figure img{
      max-width: 350px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .beaGodfather a {
      max-width: 250px;
      margin: 55px auto;
      padding: 7px 10px;
      font-size: 11px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle:before {
      bottom: -14px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle {
      font-size: 20px;
    }
    .pg-checkout form .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p {
      width: 100%;
      display: block;
    }
    .pg-inicial .apresentacaoInicial {
      min-height: 1137px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 48px;
      line-height: 38px;
    }
  }
  @media(max-width: 425px){
    .pg-inicial .apresentacaoInicial .textoInicialDireita {
      padding: 0 15px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 46px;
    }
    .pg-inicial .apresentacaoInicial {
      min-height: 990px;
    }
    .pg-inicial .howToHelp .thankYou h2 {
      font-size: 20px;
      padding: 40px 5px 0;
    }
    footer .socialNetworks ul {
      max-width: 280px;
    }
   /* footer .socialNetworks ul li:last-child{
      margin: 10px auto;
      display: block;
    }*/
    .pg-inicial .howToHelp {
      min-height: 769px;
    }
    .pg-inicial .howToHelp .productsSection .productList .item{
      padding: 0 12px;
    }
  }
  @media(max-width: 320px){
    .pg-inicial .apresentacaoInicial .textoInicialDireita h3 {
      font-size: 40px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h4 {
      font-size: 47.5px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h2 {
      font-size: 48px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 37px;
    }
    footer .socialNetworks ul li {
      display: block;
      margin: 10px auto 0;
    }
    .pg-inicial .apresentacaoInicial {
      min-height: 890px;
    }
  }
