/*

Theme Name: Ajude a Maju
Theme URI: http://www.ajudeamaju.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrição do tema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ajudeamaju
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Framework v1)
--------------------------------------------
**** IMPORTAÇÃO DE FONTES
**** DEFINIÇÃO DE VARIÁVEIS
**** BODY
**** TOPO
**** RODAPÉ
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Montserrat', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* IMPORTAÇÃO DE FONTES*/
  @font-face {
    font-family: GoodVibes;
    src: url('fonts/goodvibes.otf');
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: ONRAMP;
    src: url('fonts/onramp.otf');
    font-style: normal;
    font-weight: normal;
  }

/* DEFINIÇÃO DE VARIÁVEIS */ 
:root {
  --montserrat: 'Montserrat', sans-serif;
  --nunitosans: 'Nunito Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;

  /* COMO USAR AS VARIÁVEIS
    color: var(--raleway);
  */
}

/* BODY */
  body{
  
  }

/* TOPO */
  header{
    background-color: #fee8f1;
  }
    header .navbar{
      margin: 0;
      border-radius: 0;
      min-height: 0;
    }
      header .navbar button{
        display: none;
      }
        header .navbar button span{

        }
        header .navbar button span.sr-only{

        }
        header .navbar button span.icon-bar{
          background: #f7a1bf;
          transition: .2s all ease-out;
          -webkit-transition: .2s all ease-out;
          -moz-transition: .2s all ease-out;
          -o-transition: .2s all ease-out;
        }
        header .navbar button.exchangeButton span:nth-child(2){
          transform: translateY(8px) rotate(-45deg);
          -webkit-transform: translateY(8px) rotate(-45deg);
          -moz-transform: translateY(8px) rotate(-45deg);
          -o-transform: translateY(8px) rotate(-45deg);
          transform: translateY(8px) rotate(-45deg);
          margin-top: 0px;
        }
        header .navbar button.exchangeButton span:nth-child(3){
          display: none;
        }
        header .navbar button.exchangeButton span:nth-child(4){
          transform: translateY(-8px) rotate(45deg);
          -webkit-transform: translateY(-8px) rotate(45deg);
          -moz-transform: translateY(-8px) rotate(45deg);
          -o-transform: translateY(-8px) rotate(45deg);
          margin-top: 14px!important;
        }
      header .navbar .navbar-header{
        width: 100%;
      }
        header .navbar .navbar-header .navbar-collapse{

        }
          header .navbar .navbar-header .navbar-collapse .navbar-nav{
            width: 100%;
            text-align: right;
          }
            header .navbar .navbar-header .navbar-collapse .navbar-nav li{
              float: initial;
              display: inline-block;
              text-transform: uppercase;
              font-family: var(--montserrat);
              color: #f7a1bf;
            }
              header .navbar .navbar-header .navbar-collapse .navbar-nav li a{
                text-decoration: none;
                color: inherit;
                background: transparent;
                padding: 10px 20px;
              }
              header .navbar .navbar-header .navbar-collapse .navbar-nav li a:hover{
                background: transparent;
              }
              header .navbar .navbar-header .navbar-collapse .navbar-nav li a:focus{
                outline: none;
              }
/*RODAPÉ*/
  footer{
    background: #f2c4d4;
    margin-top: 60px;
    padding-top: 50px;
  }
    footer .socialNetworks{
      width: 100%;
    }
      footer .socialNetworks ul{
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        text-align: center;
        padding-bottom: 30px;
      }
        footer .socialNetworks ul li{
          display: inline-block;
          text-transform: uppercase;
          font-family: var(--raleway);
          width: 100%;
          max-width: 150px;
          margin-top: 10px;
        }
        footer .socialNetworks ul li:hover i{
          background: #fff;
          color: #f2c4d4;
        }
          footer .socialNetworks ul li a{
            text-decoration: none;
            color: #fff;
          }
            footer .socialNetworks ul li a i{
              font-size: 12px;
              display: inline-block;
              width: 100%;
              max-width: 30px;
              height: 30px;
              border: 1px solid #fff;
              border-radius: 100%;
              text-align: center;
              line-height: 29px;
              transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
            }
            footer .socialNetworks ul li a span{
              font-size: 11px;
              font-weight: bold;
              display: inline-block;
              margin-left: 10px;
            }
    footer .copyright{
      text-align: center;
      width: 90%;
      margin: 0 auto;
      color: #fff;
      font-family: var(--raleway);
      font-weight: 600;
      padding: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, 0.53);
    }
      footer .copyright p{
        margin: 0;
      } 

/*PG*/
  .pg{

  }

/*PÁGINA INICIAL*/
  .pg-inicial{
    z-index: 2;
  }
    .pg-inicial .apresentacaoInicial{
      background-color: #fee8f1;
      min-height: 1000px;
      position: relative;
    }
    .pg-inicial .apresentacaoInicial:before{
      /* content: ''; */
      width: 100%;
      height: 85%;
      display: block;
      background: url(../img/butterfliesUp.png);
      background-size: cover!important;
      background-position: center!important;
      position: absolute;
      top: 621px;
      
    }
      .pg-inicial .apresentacaoInicial .imagemMaju    {
        width: 100%;
        text-align: center;
        position: relative;
      }
        .pg-inicial .apresentacaoInicial .imagemMaju figure{

        }
        .pg-inicial .apresentacaoInicial .imagemMaju figure:before{
          content: "";
          background: url(../img/butterflies.png);
          width: 100%;
          max-width: 234px;
          display: block;
          min-height: 130px;
          background-size: cover!important;
          background-position: center!important;
          position: absolute;
          right: -57px;
          top: 52%;
          transform: translateY(-50%) rotate(2deg);
          -webkit-transform: translateY(-50%) rotate(2deg);
          -moz-transform: translateY(-50%) rotate(2deg);
          -o-transform: translateY(-50%) rotate(2deg);
        }
          .pg-inicial .apresentacaoInicial .imagemMaju figure img{
            width: 100%;
            height: auto;
            max-width: 730px;
            z-index: 2;
            position: relative;
          }
      .pg-inicial .apresentacaoInicial .textoInicialDireita{
        margin-top: 65px;
      }
        .pg-inicial .apresentacaoInicial .textoInicialDireita h3{
          font-family: ONRAMP;
          margin: 0;
          color: #fcabcd;
          font-size: 83px;
          padding-left: 50px;
        }
        .pg-inicial .apresentacaoInicial .textoInicialDireita h4{
          margin: 0;
          font-family: var(--montserrat);
          font-size: 122px;
          text-transform: uppercase;
          font-weight: 700;
          line-height: .5;
          color: #f5a0bd;
          text-align: left;
        }
        .pg-inicial .apresentacaoInicial .textoInicialDireita h2{
          margin: 0;
          font-family: GoodVibes;
          color: #fe73ae;
          font-size: 120px;
          margin-top: 40px;
          padding-left: 74px;
        }
        .pg-inicial .apresentacaoInicial .textoInicialDireita h1{
          margin: 0;
          font-family: ONRAMP;
          font-size: 55px;
          color: #fe73ae;
          padding-left: 100px;
          line-height: 1;
        }
    .pg-inicial .descriptionArea{

    }
      .pg-inicial .descriptionArea .descriptionSkew{
        transform: skewY(14deg);
        -webkit-transform: skewY(14deg);
        -moz-transform: skewY(14deg);
        -o-transform: skewY(14deg);
        background: #fff;
        margin-top: -310px;
        position: absolute;
      }
        .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew{
          background: #fff;
          transform: skewY(-14deg);
          -webkit-transform: skewY(-14deg);
          -moz-transform: skewY(-14deg);
          -o-transform: skewY(-14deg);
          margin-top: 270px;
        }
          .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText{

          }
            .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p{
              font-family: var(--montserrat);
              font-size: 27px;
              padding: 0 148px;
              color: #7c7c7c;
              font-weight: normal;
            }
          .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpImage{
            width: 100%;
            height: auto;
          }
            .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpImage figure{
              text-align: center;
            }
              .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpImage figure img{
                width: 100%;
                max-width: 437px;
                height: auto;
              }
        .pg-inicial .descriptionArea .descriptionSkew .beaGodfather{

        }
          .pg-inicial .descriptionArea .descriptionSkew .beaGodfather a{
            display: block;
            width: 100%;
            background: #fcabcd;
            max-width: 350px;
            margin: 20px auto;
            padding: 10px 10px;
            text-align: center;
            color: #fff;
            font-family: var(--montserrat);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 19px;
            border-radius: 5px;
            text-decoration: none;
            transition: ease-in-out .2s;
            -webkit-transition: ease-in-out .2s;
            -moz-transition: ease-in-out .2s;
            -o-transition: ease-in-out .2s;
            border: 1px solid transparent;
          }
          .pg-inicial .descriptionArea .descriptionSkew .beaGodfather a:hover{
            color: #fcabcd;
            background: #fff;
            border: 1px solid #fcabcd;
          }
    .pg-inicial .photoArea{
     min-height: 450px;
     margin-bottom: -60px;
     padding: 50px 0;
     position: relative;
    }
    .pg-inicial .photoArea:before{
     content: "";
     background: url(../img/butterfliesDown.png);
     background-size: cover!important;
     background-position: 1280px 357px !important;
     width: 100%;
     height: 100%;
     position: absolute;
     display: block;
     top: 0;
    }
      .pg-inicial .photoArea .carouselPhotosMaju{
      }
        .pg-inicial .photoArea .carouselPhotosMaju .item.photo{
          background: #e2e6e5;
          min-height: 220px;
          margin: 0 10px;
          text-align: center;
        }
          .pg-inicial .photoArea .carouselPhotosMaju .item.photo figure{

          }
            .pg-inicial .photoArea .carouselPhotosMaju .item.photo figure img{
              padding-top: 25px;
              width: 100%;
              max-width: 290px;
              padding: 25px 13px 45px 13px;
              margin: 0 auto;
              transition: transform .2s;
              -webkit-transition: transform .2s;
              -moz-transition: transform .2s;
              -o-transition: transform .2s;
            }
            .pg-inicial .photoArea .carouselPhotosMaju .item.photo figure img:hover{
              -ms-transform: scale(1.1); /* IE 9 */
              -webkit-transform: scale(1.1); /* Safari 3-8 */
              transform: scale(1.1); 
            }
    .pg-inicial .howToHelp{
     margin-top: 400px;
     text-align: center;
     position: relative;
     background: url(../img/background-products.png);
     background-size: cover;
     background-position: center;
     min-height: 900px;
     background-attachment: fixed;
    }
    .pg-inicial .howToHelp:after{
      content: "";
      display: block;
      width: 100%;
      min-height: 55px;
      background: url(../img/after-products.png);
      background-size: cover;
      background-position: center;
      position: absolute;
      bottom: 0px;
    }
      .pg-inicial .howToHelp .thankYou {

      }
        .pg-inicial .howToHelp .thankYou h2{
          font-family: var(--montserrat);
          text-transform: uppercase;
          font-weight: 500;
          font-style: italic;
          padding-top: 40px;
          color: #fff;
          font-size: 37px;
          position: relative;
        }
        .pg-inicial .howToHelp .thankYou h2:before{
          content: "";
          display: block;
          height: 1px;
          background: #fff;
          position: absolute;
          bottom: -10px;
          width: 100%;
          max-width: 185px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
        }
        .pg-inicial .howToHelp .thankYou p.thanks{
          color: #fff;
          margin-top: 30px;
          font-family: var(--montserrat);
          font-size: 17px;
          font-weight: 200;
        }
      .pg-inicial .howToHelp .productsSection{
        width: 100%;
        margin-top: 110px;
        padding: 0 50px;
      }
        .pg-inicial .howToHelp .productsSection .productList{
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 0;
          text-align: center;
        }
        .pg-inicial .howToHelp .productsSection .productList:after{
          content: '';
          display: block;
          width: 100%;
          max-width: 310px;
          height: 2px;
          background: #fff;
          margin: 50px auto;
        }
          .pg-inicial .howToHelp .productsSection .productList .product{
            display: inline-block;
            width: 100%;
            max-width: 30%;
            background: #fff;
            border-radius: 35px;
            margin: 0 13px;
            padding: 0 20px;
            box-shadow: 1px 1px 17px 1px rgba(0, 0, 0, 0.47843137254901963);
            position: relative;
            transition: all ease-in-out .2s;
            -webkit-transition: all ease-in-out .2s;
            -moz-transition: all ease-in-out .2s;
            -o-transition: all ease-in-out .2s;
          }
          .pg-inicial .howToHelp .productsSection .productList .product:hover{
            background: #f8a2bf;
            box-shadow: 1px 2px 18px 1px #000;
          }
          .pg-inicial .howToHelp .productsSection .productList .product:hover > span.price{
            background: #fff;
            color: #f8a2bf;
          }
          .pg-inicial .howToHelp .productsSection .productList .product:hover > h3.productTitle{
            color: #fff;
          } 
          .pg-inicial .howToHelp .productsSection .productList .product:hover > h3.productTitle:before{
            background: #fff;
          }
          .pg-inicial .howToHelp .productsSection .productList .product:hover > p.productDescription{
            color: #fff;
          } 
          .pg-inicial .howToHelp .productsSection .productList .product:hover > a.purchaseProduct{
            color: #fff;
            border: 2px solid #fff;
          }
            .pg-inicial .howToHelp .productsSection .productList .product span.price{
              display: block;
              width: 100%;
              background: #e2e6e7;
              max-width: 130px;
              height: 130px;
              margin: 0 auto;
              font-family: var(--montserrat);
              text-transform: uppercase;
              font-weight: bolder;
              color: #fff;
              font-size: 40px;
              padding: 10px 10px;
              border-radius: 100%;
              line-height: 100px;
              position: absolute;
              top: -64px;
              left: 50%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
            }
            .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle{
             margin-top: 100px;
             font-family: var(--nunitosans);
             text-transform: uppercase;
             font-size: 26px;
             color: #7c7c7c;
             position: relative;
             transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
            }
            .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle:before{
              content: "";
              display: block;
              width: 100%;
              max-width: 154px;
              height: 2px;
              background: #7c7c7c;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              bottom: -9px;
            }
            .pg-inicial .howToHelp .productsSection .productList .product p.productDescription{
              font-size: 18px;
              padding: 0 20px;
              margin-top: 50px;
              font-family: var(--nunitosans);
              color: #7c7c7c;
              font-weight: 200;
              margin-bottom: 50px;
              transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
            }
            .pg-inicial .howToHelp .productsSection .productList .product a.purchaseProduct{
              font-size: 16px;
              font-family: var(--montserrat);
              font-weight: bold;
              text-transform: uppercase;
              text-decoration: none;
              color: #7c7c7c;
              display: block;
              text-align: center;
              width: 100%;
              max-width: 200px;
              margin: 40px auto;
              border: 2px solid #e2e6e7;
              padding: 10px;
              border-radius: 26px;
              transition: ease-in-out .2s;
              -webkit-transition: ease-in-out .2s;
              -moz-transition: ease-in-out .2s;
              -o-transition: ease-in-out .2s;
            }
            .pg-inicial .howToHelp .productsSection .productList .product a.purchaseProduct:hover{
              color: #f8a2bf;
              border: 2px solid #fff;
              background: #fff;
            }
/*EXTRAS*/

/*@MEDIA QUERY*/
  @media(max-width: 1367px){
    .pg-inicial .apresentacaoInicial .imagemMaju{
      margin-top: 160px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure img{
      max-width: 520px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita {
      margin-top: 165px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h3 {
      font-size: 70px;
      padding-left: 50px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h4 {
      font-size: 100px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h2 {
      font-size: 95px;
      padding-left: 61px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 44px;
      padding-left: 79px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure:before{
      max-width: 152px;
      min-height: 76px;
      right: -64px;
      top: 52%;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p{
      padding: 0 50px;
    }
    .pg-inicial .howToHelp{
      min-height: 950px;
    }
    .pg-inicial .howToHelp:after {
      min-height: 38px;
    }
  }
  @media(max-width: 1200px){
    .pg-inicial .apresentacaoInicial .imagemMaju {
      margin-top: 220px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure:before {
      max-width: 125px;
      min-height: 61px;
      right: -54px;
      top: 52%;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure img {
      max-width: 460px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita {
      margin-top: 235px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h3 {
      font-size: 60px;
      padding-left: 50px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h4 {
      font-size: 80px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h2 {
      font-size: 82px;
      padding-left: 61px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 40px;
      padding-left: 79px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product p.productDescription{
      padding: 0;
    }
    .pg-inicial .howToHelp .productsSection{
      padding: 0 10px;
    }
    .pg-inicial .howToHelp:after {
      min-height: 30px;
    }
  }
  @media(max-width: 991px){
    .pg-inicial .apresentacaoInicial {
      min-height: 870px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju {
      margin-top: 100px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure:before {
      max-width: 119px;
      min-height: 55px;
      right: -71px;
      top: 52%;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita {
      margin-top: 95px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h3 {
      font-size: 50px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h4 {
      font-size: 61px;
      padding-left: 30px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h2 {
      font-size: 63px;
      padding-left: 61px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 34px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p {
      padding: 0 20px;
      font-size: 20px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .beaGodfather a {
      max-width: 300px;
      margin: 35px auto;
      padding: 8px 10px;
      font-size: 13px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product p.productDescription{
      font-size: 15px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle {
      font-size: 23px;
    }
    .pg-inicial .howToHelp .productsSection{
      margin-top: 0;
    }
    .pg-inicial .howToHelp .productsSection .productList .product {
      max-width: 46%;
      margin-top: 100px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product:last-child{
      margin-bottom: 50px;
    }
    .pg-inicial .howToHelp .productsSection .productList:after{
      display: none;
    }
    .pg-inicial .howToHelp:after{
      position: relative;
      margin-top: 50px;
      min-height: 25px;
    }
  }
  @media(max-width: 768px){
    .pg-inicial .apresentacaoInicial .imagemMaju figure:before{
      display: none;
    }
    .pg-inicial .apresentacaoInicial {
      min-height: 1260px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h3 {
      font-size: 50px;
      padding-left: 110px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h4 {
      font-size: 61px;
      padding-left: 0px;
      text-align: center;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h2 {
      font-size: 63px;
      padding-left: 148px;
      margin-top: 15px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 33px;
      padding-left: 100px;
    }
    .pg-inicial .apresentacaoInicial .imagemMaju figure img{
      padding: 10px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew {
      margin-top: 110px;
    }
    .pg-inicial .howToHelp:after{
      min-height: 20px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product{
      max-width: 80%;
      margin-left: 0;
      margin-right: 0;
    }
    .pg-inicial .howToHelp .thankYou h2 {
      font-size: 30px;
    }
    .pg-inicial .howToHelp .thankYou p.thanks {
      font-size: 15px;
    }
    footer .socialNetworks ul{
      text-align: left;
      padding: 0 63px 30px;
    }
    header .navbar button{
      display: block;
    }
    header .navbar .navbar-header .navbar-collapse .navbar-nav li {
      display: block;
      text-align: left;
    }
    .pg-inicial .photoArea:before{
      display: none;
    }
  }
  @media(max-width: 610px){
    .pg-inicial .apresentacaoInicial {
      min-height: 1350px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h3 {
      padding: 0;
      text-align: center;
      font-size: 55px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h4 {
      padding: 0;
      font-size: 65px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h2 {
      padding: 0;
      text-align: center;
      font-size: 65px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      padding: 0;
      text-align: center;
      font-size: 35px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p {
      font-size: 18px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle {
      font-size: 21px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product p.productDescription {
      font-size: 14px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product a.purchaseProduct {
      font-size: 14px;
      max-width: 180px;
    }
    .pg-inicial .howToHelp .thankYou h2 {
      font-size: 26px;
    }
    .pg-inicial .howToHelp .thankYou h2:before {
      max-width: 141px;
    }
    .pg-inicial .howToHelp .thankYou p.thanks {
      font-size: 12px;
      margin-top: 20px;
    }
    footer .socialNetworks ul {
      padding-bottom: 30px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 0 12px 30px;
    }
    footer .socialNetworks ul li {
      max-width: 125px;
    }
  }
  @media(max-width: 445px){
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpText p {
      font-size: 15px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .descriptionAntiSkew .helpImage figure img{
      max-width: 350px;
    }
    .pg-inicial .descriptionArea .descriptionSkew .beaGodfather a {
      max-width: 250px;
      margin: 55px auto;
      padding: 7px 10px;
      font-size: 11px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product {
      max-width: 95%;
    }
    .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle:before {
      bottom: -14px;
    }
    .pg-inicial .howToHelp .productsSection .productList .product h3.productTitle {
      font-size: 20px;
    }
  }
  @media(max-width: 425px){
    .pg-inicial .apresentacaoInicial .textoInicialDireita {
      padding: 0 15px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h3 {
      font-size: 45px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h4 {
      font-size: 53.5px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h2 {
      font-size: 53px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 28.5px;
    }
    .pg-inicial .apresentacaoInicial {
      min-height: 1220px;
    }
    .pg-inicial .howToHelp .thankYou h2 {
      font-size: 20px;
      padding: 40px 5px 0;
    }
    footer .socialNetworks ul {
      max-width: 280px;
    }
    footer .socialNetworks ul li:last-child{
      margin: 10px auto;
      display: block;
    }
  }
  @media(max-width: 320px){
    .pg-inicial .apresentacaoInicial .textoInicialDireita h3 {
      font-size: 40px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h4 {
      font-size: 47.5px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h2 {
      font-size: 48px;
    }
    .pg-inicial .apresentacaoInicial .textoInicialDireita h1 {
      font-size: 25.5px;
    }
    footer .socialNetworks ul li {
      display: block;
      margin: 10px auto 0;
    }
  }
